{% load static %}
<div class=" border-right border-warning h-100">
    <div class="text-center ">
        
        <img src="{% static 'home/images/ashu.jpeg' %}" alt="Profile pic" class="img-fluid  rounded-circle mt-5" width="170px" height="100px">
    
    </div>
    <h2 class="text-white text-center mt-4">Ashu Kashyap</h2>
    <nav class=" text-center mt-4">
        <a href="/" class="nav-link {{index}}"><h4>About</h4></a>
        <a href="/exprince" class="nav-link {{exprince}}"><h4>EXPERIENCE</h4></a>
        <a href="/edu" class="nav-link {{edu}}"><h4>EDUCTION</h4></a>
        <a href="/skils" class="nav-link {{skils}}"><h4>SKILLS</h4></a>
        <a href="/contact" class="nav-link {{contact}}"><h4>CONTACT</h4></a>
    </nav>

      
      <div class ="text-center mr-5">
    <ul> 
        <a href="https://www.facebook.com/aashu.kashyap.547"><img src="{% static 'home/images/2p.png' %}" class="img-fluid  rounded-circle mt-3 ml-2" width="50px" height="50px" /></a></li>
        <a href="https://www.instagram.com/ashu2076/"><img src="{% static 'home/images/3p.png' %}" class="img-fluid  rounded-circle mt-3 ml-2" width="50px" height="50px"/></a></li>
        <a href="https://www.linkedin.com/in/ashu-kashyap-174505136/"><img src="{% static 'home/images/5p.png' %}" class="img-fluid  rounded-circle mt-3 ml-2"  width="50px" height="50px"/></a></li>
        <a href="https://github.com/ashukashyap"><img src="{% static 'home/images/6p.png' %}" class="img-fluid  rounded-circle mt-3 ml-2"  width="50px" height="50px"/></a></li>
        <a href="https://twitter.com/aashukashyap6"><img src="{% static 'home/images/9p.png' %}" class="img-fluid  rounded-circle mt-3 ml-2"  width="50px" height="50px"/></a></li>
    </ul>
    </div>
  </div>

     
